* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    position: relative;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

button, input[type="color"] {
    margin: 0 10px;
}

.circle {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s linear;
}

#circle1 { background-color: black; }
#circle2 { background-color: white; }
#circle3 { background-color: inherit; }
#circle4 { background-color: inherit; }
